{% extends 'base.html.twig' %}
{% block title %}Blog symfony{% endblock %}
{% block body %}

<div class="row">
    {% for article in articles %}
        <article class="border-top p-5 col-12 col-lg-6">
            <h2>{{ article.title }}</h2>
            <small>Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</small>
            <div class="mt-3 mb-3 text-center">
                <img src="{{ article.image }}" alt="image diverse" class="rounded shadow-sm img-fluid">
            </div>
            <div class="mb-1">
                <p>{{ article.content | raw }}</p>
            </div>
            <a class="btn btn-success" href="{{ path('blog_show', {'id': article.id}) }}">Lire plus</a>
        </article>
    {% endfor %}
</div>
{% endblock %}